.App * {
  margin-top: 0.1vw;
}

.calc-screen span::after {
  display: inline-block;
  content: "|";
  opacity: 0.5;
  font-weight: bolder;
}

.calc-screen {
  border: solid 1px black;
  box-shadow: 0px 0px 0.3vw black
}